body {
	margin: 0;
	padding: 0;
	font-family: serif;
}
nav.navbar{
}
a.navbar-brand {
	margin: 0 1rem;
	font-weight: bold;

}
a.nav-link {
	display: inline;
	margin: 0 1rem;
}
.carousel {
	width: 100%;
}
img.w-100{
	height: 100vh;
}
section.container-md{
	margin-top: 100px;
}
h1.lead{
	margin-bottom: 3.5rem;
	text-align: center;
}
img.figure-img{
	width: 400px;
	height: 400px
}
div.card{
	margin-right: 10px; 
}
img.card-img-top{
	position: relative;
}
h5.card-title{
	position: absolute;
	z-index: 9999;
	top: 10px;
	left: 10px;
	color: #000;
	opacity: 0.6;
	font-size: 2rem;
	font-family: cursive;
}
.contact{
	margin-top: 100px;
	padding-top: 70px;
	padding-bottom: 50px;
	background-color: #212529;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;

}
div.col-md-6{
	margin: 10px 10px 0 10px;
	width: 98%;
}
input{
	text-align: center;
}
form.form-row{
	padding: 0 25%;
}
input.submit{
	font-weight: bold;
	background-color: #00009e;
	border: none;
	color: #fff
}
input.submit:hover{
	background-color: #000042;
}
footer.footer{
	padding-top: 40px;
	padding-bottom: 40px; 
	background-color: #000000;
	color: #ffffff;
}
a.ahmed{
	text-decoration: none;
}
textarea {
	width: 98%;
	height: 70px;
	padding: .375rem .75rem;
	text-align: center;
	margin: 10px;
	border-radius: 7px;
	background-position: bottom right;
	background-repeat: no-repeat;
}